
.diy {
    background-color: #40AFFE !important;
}

.diy2 {
    background-color: white !important;
}

dd {
    background-color: white !important;
}

.caidanziti {
    color: #40AFFE !important;
}

.diy3 {
    background-color: white !important;
}

.zcd {
    color: #40AFFE !important;
}

.one {
    color: red;
}

.two {
    color: blue;
}
